:root {
  --fonte-principal: "Play", sans-serif;
  --cinza: #F0F3FF;
  --branco: #ffffff;
  --preto: #000000;
  --cor-principal: #211951;
  --cor-secundaria: #836FFF;
  --cor-terciaria: #15F5BA;
}

body {
  margin: 0;
  font-family: var(--fonte-principal);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
